<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tk.phili.dienst.dienst">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <uses-sdk tools:overrideLibrary="at.grabner.circleprogress"/>

    <application
        android:name=".MinistryApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="tk.phili.dienst.dienst.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".report.ReportActivity"
            android:label="@string/app_name"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Splash"
            android:theme="@style/Splash"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".samplepresentations.SamplePresentationsActivity"
            android:label="@string/title_activity_empfehlungen" />
        <activity
            android:name=".notes.Notes"
            android:label="@string/title_section3" />
        <activity
            android:name=".videos.VideoActivity"
            android:label="@string/title_section7" />
        <activity
            android:name=".report.ReportAddFrame"
            android:label="@string/add_bericht"
            android:theme="@style/BerichtAddFrameThemeTranslucent" />
        <activity
            android:name=".calendar.Kalender"
            android:label="@string/title_activity_kalender"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".calendar.KalenderAddFrame"
            android:label="@string/title_activity_kalender_add_frame"
            android:theme="@style/BerichtAddFrameThemeTranslucent" />
        <activity android:name=".settings.DSGVOInfo" />
        <activity
            android:name=".settings.GlobalImport"
            android:label="@string/title_activity_global_import"
            android:theme="@style/AppTheme"
            android:exported="true"
            >

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/minapp" />

                <data android:host="*" />
                <data android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/vnd.minapp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.minapp" />
                <data android:host="*" />

            </intent-filter>
            <intent-filter android:priority="0">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.minapp"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.minapp"
                    android:scheme="content" />

            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file"  android:host="*" android:pathPattern=".*\\.minapp" android:mimeType="*/*"  />
            </intent-filter>


            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.minapp" android:scheme="file"/>
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\.minapp" android:scheme="file"/>
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\.minapp" android:scheme="file"/>
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\.minapp" android:scheme="file"/>
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\.minapp" android:scheme="file"/>
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.minapp" android:scheme="file"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="application/octet-stream" android:scheme="content"/>
                <data android:mimeType="application/minapp" android:scheme="content"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".dailytext.DailytextActivity"
            android:label="@string/title_tt"
            android:theme="@style/AppTheme" />

        <receiver android:name=".dailytext.widget.TagestextWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="ACTION_AUTO_UPDATE_WIDGET" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/tagestext_widget_info" />
        </receiver>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>